<footer class="fade-in">
  <div class="container footer-grid">
    <div class="footer-brand">
      <h2>Synkroniq</h2>
      <p>&copy; 2025 Synkroniq <sup>®</sup>. Todos os direitos reservados.</p>
      <p>Maringá/PR</p>
    </div>
<div class="footer-links">
  <a href="pages/privacidade.html">Política de Privacidade</a>
  <a href="pages/termos.html">Termos de Uso</a>
  <a href="pages/suporte.html">Suporte</a>
  <a href="pages/informacoes-legais.html">Informações Legais</a>
</div>
    <div class="footer-social">
      <a href="https://www.instagram.com/synkroniq.tech" target="_blank"><i class="fab fa-instagram"></i></a>
      <a href="https://wa.me/5544997648490" target="_blank"><i class="fab fa-whatsapp"></i></a>
      <a href="https://www.youtube.com/@SynkroniqTech" target="_blank"><i class="fab fa-youtube"></i></a>
    </div>
  </div>
</footer>
